.footer {
  background: #f9f9f9;
  text-align: center;
  padding: 1.2rem 0.7rem 1rem;

  &__top {
    width: 85%;
    margin: 0 auto;
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
  }

  &__bottom {
    padding: 2rem 0;
  }

  &__img {
    margin: 2rem 1.5rem 0;
    width: 15rem;

    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }

  p {
    font-size: 1.6rem;
    margin: 5px 0 0;
  }
}
