header {
  width: 100%;
  background: #f7f3f1;

  .navbar {
    max-width: 123rem;
    padding: 1.5rem;
    color: #333;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      font-weight: 700;
      font-size: 2.2rem;
    }
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      &:not(:last-of-type) {
        margin-right: 2rem;
      }

      a {
        color: #333;
        padding: 8px 8px 4px 8px;

        &:hover {
          color: #e7332b;
          border-bottom: 1px solid #e7332b;
        }
      }

      .enroll {
        color: #fff;
        padding: 8px 24px;
        background: #e7332b;
        border: 1px solid #e7332b;

        &:hover {
          color: #333;
          background: #f7f3f1;
        }
      }
    }
  }
}
