@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;

  @media (max-width: 768px) {
    font-size: 58%;
  }
}

body {
  height: 100%;
  line-height: 1.8;
  font-family: "Manrope", sans-serif;
}

a {
  font-size: 16px;
  text-decoration: none;
  transition: 0.2s ease;
}

.btn {
  border: none;
  font: inherit;
  color: #fff;
  font-size: 16px;
  padding: 8px 35px;
  background: #111;
  border: 1px solid #e7332b;
  transition: 0.2s ease;
  border-radius: 50px;
  cursor: pointer;
  outline: none;

  &:hover {
    color: #333;
    background: #fff;
  }
}

.container {
  padding: 1.5rem 2.4rem;
  margin: 10rem auto;
  max-width: 130rem;
}
